clients/notaire-exemple/workflows/notaire-crm-lead-capture-rgpd-v1.0.json
{
  "name": "notaire-crm-lead-capture-rgpd-v1.0",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notaire-lead-capture",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "notaire-lead-capture"
    },
    {
      "parameters": {
        "jsCode": "// Validation RGPD et sanitization des données\nconst input = $input.first().json;\n\n// 1. Vérification consentement RGPD obligatoire\nif (!input.consentement_rgpd || input.consentement_rgpd !== true) {\n  return [{\n    json: {\n      valid: false,\n      error_code: \"RGPD_NO_CONSENT\",\n      error_message: \"Consentement RGPD non fourni ou invalide\",\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// 2. Validation email\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!input.email || !emailRegex.test(input.email)) {\n  return [{\n    json: {\n      valid: false,\n      error_code: \"VALIDATION_EMAIL_INVALID\",\n      error_message: \"Format email invalide\",\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// 3. Validation champs obligatoires\nconst requiredFields = ['nom', 'prenom', 'email', 'type_acte'];\nfor (const field of requiredFields) {\n  if (!input[field] || input[field].toString().trim() === '') {\n    return [{\n      json: {\n        valid: false,\n        error_code: \"VALIDATION_MISSING_FIELD\",\n        error_message: `Champ obligatoire manquant: ${field}`,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n}\n\n// 4. Sanitization des données\nconst sanitize = (str) => {\n  if (!str) return '';\n  return str.toString().trim()\n    .replace(/<[^>]*>/g, '') // Supprimer HTML\n    .replace(/[<>\"'&]/g, ''); // Caractères dangereux\n};\n\n// 5. Générer ID unique pour traçabilité RGPD\nconst leadId = `LEAD-${Date.now()}-${Math.random().toString(36).substr(2, 9).toUpperCase()}`;\n\n// 6. Calculer date de suppression prévue (3 ans pour notariat)\nconst dateSuppressionPrevue = new Date();\ndateSuppressionPrevue.setFullYear(dateSuppressionPrevue.getFullYear() + 3);\n\n// 7. Liste des types d'actes notariés valides\nconst typesActesValides = [\n  'achat_immobilier',\n  'vente_immobilier',\n  'donation',\n  'succession',\n  'testament',\n  'contrat_mariage',\n  'pacs',\n  'divorce',\n  'creation_sci',\n  'pret_hypothecaire',\n  'autre'\n];\n\nconst typeActe = sanitize(input.type_acte).toLowerCase().replace(/\\s+/g, '_');\nconst typeActeValide = typesActesValides.includes(typeActe) ? typeActe : 'autre';\n\n// 8. Retourner données validées et enrichies\nreturn [{\n  json: {\n    valid: true,\n    lead_id: leadId,\n    \n    // Données personnelles (minimisées)\n    nom: sanitize(input.nom).toUpperCase(),\n    prenom: sanitize(input.prenom),\n    email: sanitize(input.email).toLowerCase(),\n    telephone: sanitize(input.telephone) || null,\n    \n    // Données dossier\n    type_acte: typeActeValide,\n    description_besoin: sanitize(input.description_besoin || '').substring(0, 500),\n    urgence: ['normale', 'urgente', 'tres_urgente'].includes(input.urgence) ? input.urgence : 'normale',\n    \n    // Traçabilité RGPD\n    consentement_rgpd: true,\n    date_consentement: new Date().toISOString(),\n    ip_source: input.ip_source || 'non_collectee',\n    source_formulaire: sanitize(input.source || 'site_web'),\n    \n    // Gestion cycle de vie données\n    date_creation: new Date().toISOString(),\n    date_suppression_prevue: dateSuppressionPrevue.toISOString(),\n    statut: 'nouveau',\n    \n    // Opposition communications (opt-out)\n    opposition_prospection: input.opposition_prospection === true,\n    \n    // Métadonnées workflow\n    workflow_context: {\n      workflow_name: 'notaire-crm-lead-capture-rgpd-v1.0',\n      execution_id: $execution.id,\n      processed_at: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "code-validation",
      "name": "Validation RGPD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-consent",
      "name": "Consentement OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "={{ $env.NOTION_DB_LEADS_NOTAIRE }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Lead ID|rich_text",
              "textContent": "={{ $json.lead_id }}"
            },
            {
              "key": "Nom|title",
              "textContent": "={{ $json.nom }} {{ $json.prenom }}"
            },
            {
              "key": "Email|email",
              "emailValue": "={{ $json.email }}"
            },
            {
              "key": "Téléphone|phone_number",
              "phoneValue": "={{ $json.telephone }}"
            },
            {
              "key": "Type Acte|select",
              "selectValue": "={{ $json.type_acte }}"
            },
            {
              "key": "Description|rich_text",
              "textContent": "={{ $json.description_besoin }}"
            },
            {
              "key": "Urgence|select",
              "selectValue": "={{ $json.urgence }}"
            },
            {
              "key": "Statut|status",
              "statusValue": "Nouveau"
            },
            {
              "key": "Date Consentement RGPD|date",
              "dateValue": "={{ $json.date_consentement }}"
            },
            {
              "key": "Source|select",
              "selectValue": "={{ $json.source_formulaire }}"
            },
            {
              "key": "Date Suppression Prévue|date",
              "dateValue": "={{ $json.date_suppression_prevue }}"
            },
            {
              "key": "Opposition Prospection|checkbox",
              "checkboxValue": "={{ $json.opposition_prospection }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notion-create",
      "name": "Créer Lead Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [920, 200],
      "credentials": {
        "notionApi": {
          "id": "notion-credentials",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Validation RGPD').item.json.email }}",
        "subject": "Confirmation de votre demande - Étude Notariale",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { font-family: Georgia, serif; color: #333; line-height: 1.6; }\n    .header { background: #1a365d; color: white; padding: 20px; text-align: center; }\n    .content { padding: 30px; max-width: 600px; margin: 0 auto; }\n    .footer { background: #f5f5f5; padding: 20px; font-size: 12px; color: #666; }\n    .rgpd { border-top: 1px solid #ddd; margin-top: 20px; padding-top: 15px; font-size: 11px; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>Étude Notariale</h1>\n  </div>\n  <div class=\"content\">\n    <p>Bonjour {{ $('Validation RGPD').item.json.prenom }},</p>\n    \n    <p>Nous avons bien reçu votre demande concernant : <strong>{{ $('Validation RGPD').item.json.type_acte }}</strong></p>\n    \n    <p>Votre dossier a été enregistré sous la référence : <strong>{{ $('Validation RGPD').item.json.lead_id }}</strong></p>\n    \n    <p>Un collaborateur de notre étude vous contactera dans les meilleurs délais pour étudier votre dossier.</p>\n    \n    <p>Cordialement,<br>\n    L'équipe de l'Étude Notariale</p>\n    \n    <div class=\"rgpd\">\n      <p><strong>Informations RGPD</strong></p>\n      <p>Conformément au Règlement Général sur la Protection des Données (RGPD), vous disposez des droits suivants :</p>\n      <ul>\n        <li><strong>Droit d'accès</strong> : obtenir une copie de vos données personnelles</li>\n        <li><strong>Droit de rectification</strong> : corriger vos données inexactes</li>\n        <li><strong>Droit à l'effacement</strong> : demander la suppression de vos données</li>\n        <li><strong>Droit d'opposition</strong> : vous opposer au traitement de vos données</li>\n        <li><strong>Droit à la portabilité</strong> : recevoir vos données dans un format structuré</li>\n      </ul>\n      <p>Pour exercer ces droits, contactez-nous à : <a href=\"mailto:rgpd@etude-notariale.fr\">rgpd@etude-notariale.fr</a></p>\n      <p>Référence de votre consentement : {{ $('Validation RGPD').item.json.lead_id }} du {{ $('Validation RGPD').item.json.date_consentement }}</p>\n      <p>Durée de conservation prévue : 3 ans (jusqu'au {{ $('Validation RGPD').item.json.date_suppression_prevue }})</p>\n    </div>\n  </div>\n  <div class=\"footer\">\n    <p>Cet email a été envoyé automatiquement suite à votre demande de contact.</p>\n  </div>\n</body>\n</html>",
        "options": {
          "replyTo": "contact@etude-notariale.fr"
        }
      },
      "id": "gmail-confirmation",
      "name": "Email Confirmation",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1140, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-credentials",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-refus",
              "name": "log_rgpd",
              "value": "={{ JSON.stringify({ action: 'REFUS_CONSENTEMENT', error_code: $json.error_code, error_message: $json.error_message, timestamp: $json.timestamp, workflow: 'notaire-crm-lead-capture-rgpd-v1.0', execution_id: $execution.id }) }}",
              "type": "string"
            },
            {
              "id": "response-status",
              "name": "http_status",
              "value": 400,
              "type": "number"
            },
            {
              "id": "response-message",
              "name": "response_message",
              "value": "={{ $json.error_message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-refus",
      "name": "Log Refus RGPD",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [920, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Votre demande a été enregistrée avec succès.\",\n  \"reference\": \"{{ $('Validation RGPD').item.json.lead_id }}\",\n  \"rgpd\": {\n    \"consentement_enregistre\": true,\n    \"date_consentement\": \"{{ $('Validation RGPD').item.json.date_consentement }}\",\n    \"duree_conservation\": \"3 ans\",\n    \"contact_dpo\": \"rgpd@etude-notariale.fr\"\n  }\n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "respond-success",
      "name": "Réponse Succès",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1360, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.response_message }}\",\n  \"code\": \"RGPD_VALIDATION_FAILED\",\n  \"rgpd\": {\n    \"donnees_conservees\": false,\n    \"raison\": \"Consentement non fourni ou données invalides\",\n    \"contact_dpo\": \"rgpd@etude-notariale.fr\"\n  }\n}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "respond-error",
      "name": "Réponse Erreur",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1140, 420]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-log",
              "name": "log_success",
              "value": "={{ JSON.stringify({ action: 'LEAD_CREATED', lead_id: $('Validation RGPD').item.json.lead_id, notion_page_id: $('Créer Lead Notion').item.json.id, email_sent: true, timestamp: new Date().toISOString(), workflow: 'notaire-crm-lead-capture-rgpd-v1.0' }) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-success-log",
      "name": "Log Succès",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1360, 80]
    }
  ],
  "connections": {
    "Webhook Lead": {
      "main": [
        [
          {
            "node": "Validation RGPD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation RGPD": {
      "main": [
        [
          {
            "node": "Consentement OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consentement OK?": {
      "main": [
        [
          {
            "node": "Créer Lead Notion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Refus RGPD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Créer Lead Notion": {
      "main": [
        [
          {
            "node": "Email Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Confirmation": {
      "main": [
        [
          {
            "node": "Log Succès",
            "type": "main",
            "index": 0
          },
          {
            "node": "Réponse Succès",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Refus RGPD": {
      "main": [
        [
          {
            "node": "Réponse Erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "id": "tag-notaire",
      "name": "notaire"
    },
    {
      "id": "tag-rgpd",
      "name": "rgpd"
    },
    {
      "id": "tag-crm",
      "name": "crm"
    }
  ],
  "pinData": {},
  "versionId": "1.0.0"
}
