clients/pack-artisan/workflows/n8n/artisan-relance-devis-v1.0.json
{
  "name": "artisan-relance-devis-v1.0",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hour": 9
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Trigger Quotidien 9h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "notes": "Déclenche chaque jour à 9h pour relance devis non signés"
    },
    {
      "parameters": {
        "jsCode": "// Calcul dates seuils pour relance devis\nconst now = new Date();\n\n// Seuil relance: devis envoyé il y a plus de 7 jours\nconst seuilRelance = new Date(now);\nseuilRelance.setDate(seuilRelance.getDate() - 7);\n\n// Seuil expiration: devis envoyé il y a plus de 30 jours\nconst seuilExpiration = new Date(now);\nseuilExpiration.setDate(seuilExpiration.getDate() - 30);\n\nconst workflow_context = {\n  workflowName: $workflow.name,\n  executionId: $execution.id,\n  startTime: now.toISOString(),\n  trigger: 'schedule',\n  seuilRelance: seuilRelance.toISOString().split('T')[0],\n  seuilExpiration: seuilExpiration.toISOString().split('T')[0],\n  status: 'started'\n};\n\nconsole.log(JSON.stringify(workflow_context));\n\nreturn {\n  json: {\n    dateSeuilRelance: seuilRelance.toISOString(),\n    dateSeuilExpiration: seuilExpiration.toISOString(),\n    workflow_context\n  }\n};"
      },
      "id": "init-context",
      "name": "Init Context & Seuils",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "={{ $env.NOTION_DB_DEVIS_ARTISAN }}",
          "mode": "id"
        },
        "returnAll": true,
        "filterType": "formula",
        "filters": {
          "and": [
            {
              "property": "Statut",
              "status": { "equals": "Devis envoyé" }
            },
            {
              "property": "Opposition Prospection",
              "checkbox": { "equals": false }
            },
            {
              "property": "Date Devis Envoyé",
              "date": {
                "on_or_before": "={{ $json.dateSeuilRelance }}"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "notion-query",
      "name": "Query Devis Non Signés >7j",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [680, 300],
      "credentials": {
        "notionApi": {
          "id": "notion-credentials",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Classifier devis: relance (<30j) ou expiration (>30j)\nconst items = $input.all();\nconst seuilExpiration = new Date($('Init Context & Seuils').first().json.dateSeuilExpiration);\nconst aRelancer = [];\nconst aExpirer = [];\n\nfor (const item of items) {\n  const page = item.json;\n  const props = page.properties || {};\n  \n  const email = props['Email']?.email || '';\n  const client = props['Client']?.title?.[0]?.plain_text || '';\n  const leadId = props['Lead ID']?.rich_text?.[0]?.plain_text || '';\n  const typeTravaux = props['Type Travaux']?.select?.name || '';\n  const montant = props['Montant Devis']?.number || 0;\n  const dateDevisEnvoye = props['Date Devis Envoyé']?.date?.start || '';\n  const oppositionProspection = props['Opposition Prospection']?.checkbox || false;\n  \n  if (!email || oppositionProspection) continue;\n  \n  const dateDevis = new Date(dateDevisEnvoye);\n  const rgpdTraceId = `RELANCE-${Date.now()}-${Math.random().toString(36).substr(2, 9)}`;\n  \n  const devisData = {\n    notionPageId: page.id,\n    leadId,\n    client,\n    email,\n    typeTravaux,\n    montant,\n    dateDevisEnvoye,\n    rgpdTraceId\n  };\n  \n  if (dateDevis <= seuilExpiration) {\n    aExpirer.push({ json: { ...devisData, action: 'expirer', status: 'to_expire' } });\n  } else {\n    aRelancer.push({ json: { ...devisData, action: 'relancer', status: 'to_remind' } });\n  }\n}\n\nif (aRelancer.length === 0 && aExpirer.length === 0) {\n  return [[{ json: { noResults: true, message: 'Aucun devis à relancer ou expirer', timestamp: new Date().toISOString() } }], []];\n}\n\nconsole.log(`${aRelancer.length} à relancer, ${aExpirer.length} à expirer`);\nreturn [aRelancer, aExpirer];"
      },
      "id": "classify-devis",
      "name": "Classifier Devis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "outputs": ["Relance", "Expiration"]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "condition-has-results",
              "leftValue": "={{ $json.noResults }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notTrue" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-relance",
      "name": "Devis à relancer?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Votre devis {{ $json.typeTravaux }} - Avez-vous des questions ? - {{ $env.ARTISAN_NOM_ENTREPRISE }}",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { font-family: Arial, sans-serif; color: #333; line-height: 1.6; }\n    .header { background: #2563eb; color: white; padding: 20px; text-align: center; }\n    .content { padding: 30px; max-width: 600px; margin: 0 auto; }\n    .devis-box { background: #eff6ff; border-left: 4px solid #2563eb; padding: 20px; margin: 20px 0; }\n    .btn-contact { background: #2563eb; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px; display: inline-block; margin: 10px 0; font-weight: bold; }\n    .footer { background: #f5f5f5; padding: 20px; font-size: 12px; color: #666; }\n    .rgpd { font-size: 10px; color: #999; margin-top: 20px; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>Suivi de votre devis</h1>\n  </div>\n  <div class=\"content\">\n    <p>Bonjour {{ $json.client }},</p>\n    \n    <p>Nous vous avions transmis un devis récemment et souhaitions prendre de vos nouvelles.</p>\n    \n    <div class=\"devis-box\">\n      <p><strong>Référence :</strong> {{ $json.leadId }}</p>\n      <p><strong>Type de travaux :</strong> {{ $json.typeTravaux }}</p>\n      <p><strong>Devis envoyé le :</strong> {{ $json.dateDevisEnvoye }}</p>\n    </div>\n    \n    <p>Avez-vous des questions sur notre proposition ? Nous sommes à votre disposition pour :</p>\n    <ul>\n      <li>Répondre à vos interrogations</li>\n      <li>Adapter le devis si besoin</li>\n      <li>Planifier l'intervention à votre convenance</li>\n    </ul>\n    \n    <p>N'hésitez pas à nous contacter :</p>\n    <p>\n      <a href=\"tel:{{ $env.ARTISAN_TELEPHONE }}\" class=\"btn-contact\">Nous appeler</a>\n    </p>\n    \n    <p>Cordialement,<br>\n    <strong>{{ $env.ARTISAN_NOM_ENTREPRISE }}</strong><br>\n    {{ $env.ARTISAN_TELEPHONE }}</p>\n  </div>\n  <div class=\"footer\">\n    <p class=\"rgpd\">\n      <strong>RGPD</strong> : Cette relance est envoyée dans le cadre de votre demande de devis (intérêt légitime).\n      Pour ne plus recevoir de relances, répondez \"STOP\" ou contactez {{ $env.ARTISAN_EMAIL_RGPD }}.<br>\n      ID traçabilité : {{ $json.rgpdTraceId }}\n    </p>\n  </div>\n</body>\n</html>",
        "options": {
          "replyTo": "={{ $env.ARTISAN_EMAIL }}",
          "appendAttribution": false
        }
      },
      "id": "send-relance-email",
      "name": "Email Relance Devis",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1340, 100],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-credentials",
          "name": "Gmail OAuth2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Log relance envoyée\nconst item = $input.item.json;\nconst log = {\n  step: 'relance_sent',\n  status: 'success',\n  rgpdTraceId: item.rgpdTraceId,\n  clientEmail: item.email.replace(/(.{2}).*(@.*)/, '$1***$2'),\n  leadId: item.leadId,\n  timestamp: new Date().toISOString()\n};\nconsole.log(JSON.stringify(log));\nreturn { json: log };"
      },
      "id": "log-relance-success",
      "name": "Log Relance Envoyée",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 100]
    },
    {
      "parameters": {
        "jsCode": "// Log erreur relance\nconst item = $input.item.json;\nconst log = {\n  step: 'relance_email_failed',\n  status: 'error',\n  rgpdTraceId: item.rgpdTraceId,\n  clientEmail: item.email.replace(/(.{2}).*(@.*)/, '$1***$2'),\n  leadId: item.leadId,\n  errorMessage: 'Échec envoi relance',\n  timestamp: new Date().toISOString()\n};\nconsole.error(JSON.stringify(log));\nreturn { json: log };"
      },
      "id": "log-relance-error",
      "name": "Log Erreur Relance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 220]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $json.notionPageId }}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "Statut|status", "statusValue": "Expiré" }
          ]
        },
        "options": {}
      },
      "id": "notion-expire",
      "name": "Marquer Devis Expiré",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1340, 420],
      "credentials": {
        "notionApi": {
          "id": "notion-credentials",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Log expiration devis\nconst item = $input.item.json;\nconst log = {\n  step: 'devis_expired',\n  status: 'success',\n  leadId: item.leadId || 'unknown',\n  clientEmail: (item.email || '').replace(/(.{2}).*(@.*)/, '$1***$2'),\n  action: 'marked_as_expired',\n  timestamp: new Date().toISOString()\n};\nconsole.log(JSON.stringify(log));\nreturn { json: log };"
      },
      "id": "log-expiration",
      "name": "Log Expiration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 420]
    },
    {
      "parameters": {
        "jsCode": "// Log aucun devis à traiter\nconst log = {\n  step: 'no_devis',\n  status: 'completed',\n  message: 'Aucun devis à relancer ou expirer',\n  timestamp: new Date().toISOString(),\n  workflowName: $workflow.name,\n  executionId: $execution.id\n};\nconsole.log(JSON.stringify(log));\nreturn { json: log };"
      },
      "id": "log-no-results",
      "name": "Log Aucun Devis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "// Récapitulatif final\nconst allItems = $input.all();\nconst summary = {\n  step: 'workflow_completed',\n  status: 'success',\n  totalProcessed: allItems.length,\n  relancesEnvoyees: allItems.filter(i => i.json.step === 'relance_sent').length,\n  devisExpires: allItems.filter(i => i.json.step === 'devis_expired').length,\n  erreurs: allItems.filter(i => i.json.status === 'error').length,\n  timestamp: new Date().toISOString(),\n  workflowName: $workflow.name,\n  executionId: $execution.id\n};\nconsole.log(JSON.stringify(summary));\nreturn { json: summary };"
      },
      "id": "summary",
      "name": "Récapitulatif",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 260]
    },
    {
      "parameters": {
        "errorWorkflow": "={{$workflow.id}}"
      },
      "id": "try-catch-wrapper",
      "name": "Try/Catch",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 520]
    },
    {
      "parameters": {
        "jsCode": "const error = $input.item.json;\nconst errorLog = {\n  step: 'error_handler',\n  status: 'error',\n  errorCode: error.error?.name || 'UNKNOWN_ERROR',\n  errorMessage: error.error?.message || 'Erreur inconnue',\n  errorNode: error.node?.name || 'Unknown',\n  timestamp: new Date().toISOString(),\n  workflowName: $workflow.name,\n  executionId: $execution.id,\n  severity: 'high'\n};\nconsole.error(JSON.stringify(errorLog));\nreturn { json: errorLog };"
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 520]
    }
  ],
  "connections": {
    "Trigger Quotidien 9h": {
      "main": [[{ "node": "Init Context & Seuils", "type": "main", "index": 0 }]]
    },
    "Init Context & Seuils": {
      "main": [[{ "node": "Query Devis Non Signés >7j", "type": "main", "index": 0 }]]
    },
    "Query Devis Non Signés >7j": {
      "main": [[{ "node": "Classifier Devis", "type": "main", "index": 0 }]]
    },
    "Classifier Devis": {
      "main": [
        [{ "node": "Devis à relancer?", "type": "main", "index": 0 }],
        [{ "node": "Marquer Devis Expiré", "type": "main", "index": 0 }]
      ]
    },
    "Devis à relancer?": {
      "main": [
        [{ "node": "Email Relance Devis", "type": "main", "index": 0 }],
        [{ "node": "Log Aucun Devis", "type": "main", "index": 0 }]
      ]
    },
    "Email Relance Devis": {
      "main": [
        [{ "node": "Log Relance Envoyée", "type": "main", "index": 0 }],
        [{ "node": "Log Erreur Relance", "type": "main", "index": 0 }]
      ]
    },
    "Log Relance Envoyée": {
      "main": [[{ "node": "Récapitulatif", "type": "main", "index": 0 }]]
    },
    "Log Erreur Relance": {
      "main": [[{ "node": "Récapitulatif", "type": "main", "index": 0 }]]
    },
    "Marquer Devis Expiré": {
      "main": [[{ "node": "Log Expiration", "type": "main", "index": 0 }]]
    },
    "Log Expiration": {
      "main": [[{ "node": "Récapitulatif", "type": "main", "index": 0 }]]
    },
    "Log Aucun Devis": {
      "main": [[{ "node": "Récapitulatif", "type": "main", "index": 0 }]]
    },
    "Try/Catch": {
      "main": [[{ "node": "Error Handler", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "={{$workflow.id}}"
  },
  "staticData": null,
  "tags": [
    { "name": "artisan" },
    { "name": "relance" },
    { "name": "devis" },
    { "name": "production" }
  ],
  "triggerCount": 1,
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "vazbolota-consulting"
  },
  "_documentation": {
    "description": "Relance automatique des devis non signés (>7j) et expiration (>30j)",
    "version": "1.0.0",
    "author": "Vazbolota Consulting",
    "rgpd": {
      "finalite": "Relance commerciale devis - intérêt légitime avec droit d'opposition",
      "baseLegale": "Intérêt légitime (Art. 6.1.f RGPD)",
      "donneesTraitees": ["Nom", "Email", "Lead ID", "Type travaux", "Montant devis"],
      "destinataires": ["Notion (lecture/écriture)", "Gmail (envoi)"],
      "conservation": "Logs: 1 an / Données devis: 3 ans",
      "securite": ["HTTPS", "OAuth2", "Logs anonymisés", "Opposition respectée"]
    }
  }
}
